form {
    display: flex;
}

h1 {
    text-align: center;
}
  
input {
    flex-grow: 1;
    padding-left: 10px;
    height: 2em;
    color: green;
    border: 2px solid rgb(0, 100, 158);
    border-radius: 3px;
}

input:focus {
    outline: none;
}

input:hover {
    color: red;
}

button {
    color: green;
}

button:hover {
    color: red;
}