body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    place-content: space-between;
    width: 100%;
    align-items: center;
}

.press-sort {
    height: 40px;
    padding: 0 20px;
    border-radius: 20px;
    background-color: gray;
    border: none;
    align-items: center;
    display: none;
}

table {
    border: 2px solid;
}

.head {
    background-color: rgb(177, 69, 69);
    text-align: center;
    padding: 10px 25px;
}

.cell {
    background-color: lightgray;
    text-align: center;
    padding: 10px 5px;
}