html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

ul, li {
    margin: 0;
    list-style: none;
    padding: 0;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p, h3, h2, hr {
    margin: 0;
    padding: 0;
}

header {
    background-color: #646C69;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.oscorp-logo {
    height: 60px;
    width: 190px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.head-oscorp_1 {
    display: flex;
    border-bottom: 1px solid #ffffff;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}

.search_div {
    position: relative;
    padding-left: 20px;
}

.search_input {
    border: none;
    outline: none;
    transition: width 0.4s ease-in-out;
    position: absolute;
    left: 40px;
    width: 0px;
    background-color: transparent;
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
}

.search_input::placeholder {
    color: #bababa;
    caret-color: #fff;
}

.search-icon {
    height: 20px;
}

.search_div:hover .search_input {
    width: 100px;
    border-bottom: 1px solid #fff;
}

.head-oscorp_1-phone {
    display: flex;
    font-size:small;
    text-align: right;
    padding-right: 30px;
}

.head-oscorp_nav {
    display: flex;
    align-items: center;
}

.head-oscorp_nav ul {
    display: flex;
    padding: 10px;
    font-size: large;
}

.head-oscorp_nav ul li a {
    padding: 0 50px;
}

.head-oscorp_menu:hover {
    text-shadow: 0 0 3px #1e1e1e;
}

.head-oscorp_menu:focus {
    border-bottom: 1px solid #D8E8E2;
    font-size:small;
    text-align: right;
    transition: .5s;
}

/* BREADCRUMBS */

.main-menu {
    background-color: #e1e2e2;
    display: flex;
}

.main-menu_list {
    display: flex;
}

.main-menu_list li {
    height: 30px;
    font-size: 15px;
    padding: 0 30px;
    position: relative;
    display: flex;
    align-items: center;
}

.main-menu_list li::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 1px;
    right: 0;
    background-color: black;
}

.main-menu_list-a {
    color: rgb(120, 120, 120);
}

.main-menu_list li:hover {
    color: #303533;
    border-bottom: 1px solid #000;
}

.main-menu_list-a__active {
    color: #4d4f55;
    text-shadow: 0 0 2px #bababa;
}


/* MAIN */

.main-section {
    margin: 0 65px;
    display: flex;
    flex-direction: column;
}

.catalog-name {
    text-align: center;
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.catalog-content {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* first filters */

.filter {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-appearance: none;
    cursor: pointer;
}

.filters-first {
    text-align: center;
}

.filters-first-all {
    position: relative;
    margin-right: 10px;
    cursor: pointer;
    color: white;
}

.oval {
    width: 150px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;

    position: relative;
    display: inline-block;
    text-align: center;
    background-color: #c7d1ce;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    color: #000;
    margin-bottom: 10px;
}

.filter:checked + .oval {
    background-color: #4d4f55;
    color: #fff;
}

.filter:checked + .oval:after {
    content: "\2714";
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.power-container {
    width: 50%;
    display: flex;
    flex-direction: column;
}

/* second filters */

.filters-second {
    width: 80%;
    display: flex;
}

.filter-sec-name {
    padding-left: 15px;
    height: 100%;
}

.filters-name {
    margin-bottom: 20px;
}

.filters-second p {
    margin-bottom: 15px;
    margin-left: 10px;
    font-weight: bold;
}

/* power */

.filter-checkbox {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #646C69;
    outline: none;
    position: relative;
}

.checkbox-div {
    position: relative;
    display: flex;
    align-items: center;
}

.filter-checkbox:checked {
    background-color: #646C69;
}

.filter-checkbox:checked::after {
    content: "\2714";
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* price */

.price-container {
    position: relative;
    margin-left: 50px;
    width: 50%;
    height: 50%;
    margin-top: 0;
}

.price-range {
    width: 100%;
}

.range-label {
    position: absolute;
    bottom: -50px;
    font-size: 30px;
}

.range-label-start {
    left: 0;
  }
  
.range-label-end {
    right: 0;
}

.range-label {
    position: absolute;
    bottom: -20px;
    font-size: 15px;
}

.price-range {
    width: 90%;
    appearance: none;
    background: none;
    height: 1px;
    background: #101010;
}

.price-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #646C69;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
}

/* catalog */ 

.div-products-container {
    display: flex;
    flex-direction: column;
}

.products-container {
    order: 2;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 40px;
    align-content: center;
    padding: 40px;
    border-top: 1px solid #646C69;
}

.item {
    display: flex;
    margin-bottom: 20px;
    margin-right: 20px;
    align-items: flex-start;
    justify-content: center;
}

.item-img {
    width: 340px;
    border-radius: 20px;
}

.item-about {
    padding-left: 30px;
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-about_buy {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    text-transform: uppercase;
    border: none;
    background-color: #416357;
    color: #fff;
    font-size: 15px;
}

.item-about_name {
    color: #000;
    text-transform: uppercase;
}

.item-about_price {
    margin-top: 10px;
    font-weight: bold;
}

.item-about_avaliability {
    margin-top: 10px;
    text-transform: lowercase;
}

.item-not_avaliable {
    color: rgb(228, 75, 75);
    font-weight: bold;
}

.item-about_buy:hover:not(.btn-not_avaliable) {
    background-color: #c7d1ce;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    color: #000;
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: center;
    border-top: 1px solid #646C69;
    padding-top: 30px;
    margin-top: 40px;
    margin-bottom: 0;
}

.page-num {
    display: inline-block;
    color: black;
    padding: 5px 15px;
    margin: 0 5px;
}
.page-num:hover {
    border-radius: 3px;
    background-color: #c7d1ce;
}

.pagination .active {
    border-radius: 3px;
    background-color: #646C69;
    color: #fff;
}

/* PRODUCT */

.product {
    height: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.product-about {
    width: 100%;
    margin: 40px;
    padding: 0;
    align-items: center;
}

.product-img_container {
    display: flex;
    align-items: center;
}

.product-img {
    border-radius: 30px;
    width: 680px;
}

.product-name {
    font-weight: bold;
}

.product-buy {
    margin-top: 30px;
    width: 400px;
    font-size: 20px;
}

.product-description {
    margin-top: 50px;
    box-shadow: 2px 4px 10px #646C69;
    width: 60%;
    min-width: 400px;
}

.product-about_description {
    margin: 40px 0 0 40px;
}

.product-about_description_content {
    margin: 20px 30px 40px 40px;
}

/* reviews */

.reviews-section {
    background-color: #e1e2e2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews-header {
    text-align: center;
    padding-top: 20px;
}

.reviews {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
    justify-content: center;
}

.review-div {
    display: flex;
    justify-content: center;
}

.review {
    width: 100%;
    margin-bottom: 40px;
}

.product-img {
    border-radius: 20px;
    width: 340px;
}

.author-avatar {
    border-radius: 50%;
    border: 1px solid #646C69;
    height: 60px;
    width: 60px;
}

.info {
    margin: 20px;
    padding: 20px;
    border: 1px solid #646C69;
    background-color: #fff;
    display: flex;
}

.review-info {
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.author-name {
    font-weight: bold;
}

/* FOOTER */

footer {
    background-color: #646C69;
    color: #fff;
    display: flex;
}

.div-footer {
    padding: 20px;
}

.footer-copyright {
    position: relative;
    padding: 0 20px;
}

.footer-copyright::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 1px;
    right: 0;
    background-color: #fff;
}

.footer-rights {
    padding-left: 20px;
}


@media only screen and (max-width: 768px) {

    header {
        display: none;
    }

    .review {
        max-width: 600px;
        margin: 0;
    }

    .reviews {
        margin: 20px;
    }

    .item-about {
        font-size: 20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .review {
        margin: 0;
        max-width: 600px;
    }
    
    .item-about {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    
    .main-section {
        display: block;
    }
    
    .catalog-name {
        text-align: left;
    }

    .filters-first {
        text-align: left;
    }
    
    .catalog-content {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .power-container {
        width: 100%;
        display: block;
    }

    .price-container {
        position: relative;
        margin-left: 0;
        width: 70%;
        height: auto;
        margin-top: 20px;
    }

    .range-label {
        bottom: -25px;
    }

    .filters-second {
        width: 30%;
        display: block;
    }

    .products-container {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 10px;
        width: 100%;
        border: none;
    }

    .item-img {
        width: 140px;
        border-radius: 20px;
    }

    .item-about {
        justify-content: end;
    }
    
    .item-about_buy {
        font-size: small;
    }

    .pagination {
        order: 2;
        padding-left: 30px;
        margin-top: 20px;
        padding-top: 10px;
        margin-bottom: 20px;
    }

    /* CARD.HTML */

    .product {
        flex-direction: row;
    }

    .product-about {
        padding: 0;
        align-items: flex-start;
        width: 400px;
    }
    
    .product-img {
        width: 340px;
    }

    .product-buy {
        margin-top: 20px;
        width: 160px;
    }

    .product-description {
        margin-top: 20px;
        box-shadow: 2px 4px 10px #646C69;
    }

    .product-about_description {
        font-weight: bold;
        margin: 20px;
    }

    .product-about_description_content {
        margin: 30px;
    }

    .reviews-header {
        text-align: center;
        padding-bottom: 30px;
    }

    .reviews {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }

    .review {
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 40px;
    }

    .info {
        display: flex;
    }

    .review-info {
        margin-left: 15px;
        padding-top: 10px;
        padding-bottom: 30px;
    }

    .author-name {
        font-weight: bold;
    }

    .author-avatar {
        border-radius: 50%;
    }
}